version: "3.8"

services:
  backend:
    build: ./backend
    container_name: air-backend
    ports:
      - "5000:5000"
    restart: always

  frontend:
    build: ./frontend
    container_name: air-frontend
    ports:
      - "3001:80"
    depends_on:
      - backend
    restart: always